package admin

import (
  "github.com/leedrum/ikarus_travel/views/components"
  // "github.com/leedrum/ikarus_travel/locales"
)

templ AdminDashboard() {
	@components.AdminLayout("Dashboard"){
    <h3>This is dashboard</h3>
  }
}
